body {
  background-image: url(  "http://www.expertrain.com/SiteAssets/Images/19%20healthy%20desserts%20you%20can%20make%20in%20a%20blender/bigstock-Ripe-Pineapple-On-A-Yellow-Woo-115590353.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 160px;
  font-family: Beauty and the Beast;
  font-size: 40px;
}

#button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}