body {
  background-image: url(  "http://www.expertrain.com/SiteAssets/Images/19%20healthy%20desserts%20you%20can%20make%20in%20a%20blender/bigstock-Ripe-Pineapple-On-A-Yellow-Woo-115590353.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h2 {
color: white;
}